@font-face {
  font-family: "Comic Relief";
  src: url("../type/ComicRelief-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  color-scheme: dark;
  text-align: center;
}
header h2 {
  font-size: 50px;
}
