@font-face {
  font-family: "Anton";
  src: url("../type/anton.ttf");
}

body {
  margin: 0;
  font-family: "Anton", Arial, sans-serif;
  text-align: center;
}

.menu-page {
  min-height: 100dvh;
  background-image:
  linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), 
  url("../PicturesOfSVG/AJAX_BACKGROUND.svg");
  background-size: cover;
  background-position: center;
}

.menu-page main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.row li {
  flex: 1;
  max-width: 180px;
}

.menu-page a { /*knopie design */
  display: flex;
  justify-content: center;
  align-items: center; 
  aspect-ratio: 1;
  background: #d2122e;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.menu-page a:hover {
  background: #700314;
}